<!--<?xml version='1.0' encoding='UTF-8'?>-->
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->
    <!--<session-factory>-->

        <!--&lt;!&ndash; Connection settings &ndash;&gt;-->
        <!--<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>-->
        <!--<property name="hibernate.connection.url">jdbc:postgresql://localhost/TasksDB</property>-->
        <!--<property name="hibernate.connection.username">postgres</property>-->
        <!--<property name="hibernate.connection.password">postgres</property>-->

        <!--&lt;!&ndash; SQL dialect &ndash;&gt;-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->

        <!--&lt;!&ndash; Print executed SQL to stdout &ndash;&gt;-->
        <!--<property name="show_sql">true</property>-->

        <!--&lt;!&ndash; Drop and re-create all database on startup &ndash;&gt;-->
        <!--&lt;!&ndash;<property name="hibernate.hbm2ddl.auto">create-drop</property>&ndash;&gt;-->

        <!--&lt;!&ndash; Annotated entity classes &ndash;&gt;-->
        <!--<mapping class="com.tasksmanagerapp.tma.model.Task"/>-->

    <!--</session-factory>-->
<!--</hibernate-configuration>-->